.navbar-brand{
    font-size: 1.5rem;
}

.search-area{
    margin-top: 50px;
}

.no-right-padding{
    padding-right: 0 !important;
}

.no-left-padding{
    padding-left: 0 !important;
}

.result-board{
    display: inline-block;
    margin-bottom: 1rem;
}

// #bar-color{
//     background-color: black;
// }
.logout-button{
    margin-right: 10px;
}

.user-name{
    margin-top: 3.5%;
    padding-right: 5px;
}
